*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: poppins; 
    background-image: url(images/Paisaje.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    

}

ul nav{
    list-style: none;
    
}
a {
    text-decoration: none;
    cursor: pointer;
    /*Manita al pararse encima de los vinculos*/
    color: inherit;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 90%; 
    display: -webkit-flex; 
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 35px 100px 0;
}

.menu h2{
    text-transform: uppercase;
}

.menu nav{
    display: -webkit-flex; 
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin-right: 30%;
}

.menu nav li{
    margin: 0 15px;
  
}

.menu nav li:first-child{
    margin-left: 0;
}
.menu nav li:last-child{
    margin-right: 0;
}

/*MEDIAS QUERIES*/
@media(max-width:1000px){
    header{
        padding: 20px 50px;
    }
}
@media(max-width:700px){
    header{
        flex-direction: column;
    }
    header h2{
        margin-bottom: 15px;
    }
    header nav li{
        margin: 0 7px; 
    }
}

/*area del banner*/ 
.banner-area{
    display: -webkit-flex; 
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 110px 100px;
    
}

/*Media Querie del banner*/ 
@media(max-width:1000px){
    section{
     padding: 100px 50px;
    }
}
@media(max-width:600px){
    section{
     padding: 125px 30px;
    }
}
/*------------------*/ 
.banner-area p{
    max-width: 800px;
    text-align: center;
    margin-bottom: 35px;
    padding: 0 20px;
    line-height: 2;
}

.banner-area{
    position: relative;
    justify-content: center;
    min-height: 100vh;
    color: white;
    text-align: center;
    
}

.banner-area .banner-img{
    background-image: url(images/ciudad.jpg);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
     
    background-size:cover;
    z-index: -1;

}
.banner-area .banner-img:after{
    content: " "; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .8;
}

.banner-area h1{
    margin-bottom: 15px;
    font-size: 65px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.banner-area h2{
    margin-bottom: 40px;
    font-size: 20px;
}

.banner-area a.banner-btn{
    padding: 15px 35px;
    background: orangered;
    border-radius: 50px;
    text-transform: uppercase;

}

/*media queries*/ 
@media(max-width: 800px){
    .banner-area{
        min-height: 600px;
    }
    .banner-area h1{
        font-size: 32px;
    }
    .banner-area h2{
        font-size: 20px;
    }
    .banner-area a.banner-btn{
        padding: 15px 40px;
    }
}

/*------Seccion nosotros----------*/
h3{
    text-align: center;
}

body{
    background-color: beige;
}

.about{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 70px;
   
}

.sobrenosotros{
    font-size: 40px;
    margin-bottom: 60px;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.about img{
    width: 300px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

/*Transiciones*/
.banner-btn:hover{
transform: scale(1.5);
transition: all 3s;
}


.grupo:hover{
transform: scale(2);
transition: all 2s;
}

.about p{
    font-size: 18px;
    font-weight: 200px;
}

.about{
    background: linear-gradient(rgb(255, 123, 0), rgb(0, 140, 255));
    margin-top: 3%;
    box-shadow: 7px 13px 37px cadetblue;
}

.about .nosotros-btn{
    padding: 15px 35px;
    background: orangered;
    border-radius: 50px;
    text-transform: uppercase;
    margin-left: 10%;
    
}

/*Seccion container-iconos 
.container-iconos{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 60px;
    background-color: white;
    margin-top: 8%;
    background: linear-gradient(blue, red)
    
}


.container-iconos img{
 width: 130px;
 height: 100px;
 
} */ 

/*Servicio*/ 
.service-area{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 60px;
    background: linear-gradient(rgb(0, 140, 255), rgb(255, 123, 0));
    margin-top: 5%;
    box-shadow: 7px 13px 37px cadetblue;

}

.container-iconos{
    
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   justify-content: space-between;

}
.container-iconos div img{
    width: 150px;
    height: 120px;
    display: inline;
}

.service-area h3{
    font-size: 40px;
    margin-bottom: 60px;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.service-area p{
    text-align: center;
    font-size: 20px;
    padding-top: 3%;
}

/*Seccion FORMULARIO */ 
.elegirnos{
    width: 100%px;
    max-width: 1000px;
    background: linear-gradient(rgb(0, 140, 255), rgb(255, 123, 0));
    padding: 30px;
    border-radius: 4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 35%;
     box-shadow: 7px 13px 37px cadetblue;
     margin-bottom: 5%;
     margin: auto;
    margin-top: 5%;
}

.elegirnos h4{
    font-size: 25px;
    margin-bottom: 20px;
}


.controls{
    width: 100%;
    background-color:white;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 15px;
    border: 1px solid black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    
}


.elegirnos .text-elegirnos{
    height: 30px;
    text-align: center;
    font-size: 18px;
    margin-bottom: 3%;
}
.elegirnos  h3{
    font-size: 35px;
}

.elegirnos a:hover{
    color: white;
    text-decoration: underline;
}

.elegirnos .boton{
width: 80%;
background-color: blue;
border: none;
padding: 12px;
color: white;
margin: 16px 0;
font-size: 16px;
margin-left: 9%;
}

.elegirnos p{
    text-align: center;
    margin-bottom: 3%;
}

/*SECCION FOOTER*/ 
.pie-de-pagina{
    width: 100%;
    background-color: black;
    margin-top: 25px;
}

.pie-de-pagina .grupo1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0;
 
}

.pie-de-pagina .grupo1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-de-pagina .grupo1 .box figure img{
    width: 250px;
}

.pie-de-pagina .grupo1 .box h2{
    color: white;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-de-pagina .grupo1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}

.pie-de-pagina .grupo1 .red-social a{
      display: inline-block;
      text-decoration: none;
      width: 45px;
      height: 45px;
      line-height: 45px;
      color: white;
      margin-right: 10px;
      background-color: orangered; 
      text-align: center;
      transition: all 300ms ease;
}

.pie-de-pagina .grupo1 .red-social a:hover{
    color: aqua;
}

.pie-de-pagina .grupo2{
 padding: 5px 5px;
 text-align: center;
 color: white;
}

.pie-de-pagina .grupo2 small{
    font-size: 15px;
}

@media screen and (max-width:800px) {
    .pie-de-pagina .grupo1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0;
     
    }
    
}

/*CLIENTES*/

#client{
    width: 100%px;
    max-width: 1000px;
    background: linear-gradient(rgb(0, 140, 255), rgb(255, 123, 0));
    padding: 30px;
    border-radius: 4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 35%;
     box-shadow: 7px 13px 37px cadetblue;
     margin-bottom: 5%;
     margin: auto;
    margin-top: 5%;
}
.clientes{
    text-align: center;
    font-size: 30px;
}

.logo-pinup{
    width: 300px;
    display: inline;
}
.titulo-pinup{
    margin-left: 2%;
    display: inline-block;
    position: absolute;
    margin-top: 6%;
    
    
}

.descripcion-pinup{
    margin-left: 2%;
    display: inline;
    position: absolute;
    margin-top: 8%;

}

.texto-elerginos{
    text-align: center;
}

